* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-color:white;
  }
  
  .cuadrado {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;  
    align-items: center;      
    color: white;
    font-size: 24px;
  }
  /*Esquina 1*/
  .cuadrado1 {
    top: 0;
    left: 0;
    size: 100px;

  }
  /*Esquina 2*/
  .cuadrado3 {
    top: 0;
    right: 0;
  }
  /*Esquina 3*/
  .cuadrado7 {
    bottom: 0;
    left: 0;
  }
  /*Esquina 4*/
  .cuadrado9 {
    bottom: 0;
    right: 0;
  }
  
  /* Centro */
  .cuadrado5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* laterales */
  .cuadrado2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .cuadrado8 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .cuadrado4 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .cuadrado6 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  