* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-color:aquamarine;
  }
  
  .cuadrado {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
  }
  .cuadrado1 {
    top: 0;
    left: 0;
  }
  
  .cuadrado2 {
    top: 0;
    right: 0;
  }
  
  .cuadrado3 {
    bottom: 0;
    left: 0;
  }
  
  .cuadrado4 {
    bottom: 0;
    right: 0;
  }
  
  /* Centro */
  .cuadrado5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Bordes laterales */
  .cuadrado6 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .cuadrado7 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .cuadrado8 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .cuadrado9 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  